/*
* Add any styles you want to be included w/ your plugin here
*/

.warning {
    border-left: 3px solid var(--color-orange);
    padding-left: 5px;
    background-color: rgba(var(--color-orange-rgb), 0.2);
    border-radius: 3px;
    color: var(--color-orange);
}

.canvas-card-menu.is-disabled {
    opacity: 0.5;
}