/*
* Add any styles you want to be included w/ your plugin here
*/

.warning {
    border-left: 3px solid var(--color-orange);
    padding-left: 3px;
    background-color: rgba(var(--color-orange-rgb), 0.1);
}